{
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "htmlWhitespaceSensitivity": "css",
    "printWidth": 150,
    "proseWrap": "preserve",
    "requirePragma": false,
    "semi": true,
    "trailingComma": "all",
    "useTabs": false,
    "tabWidth": 4
}
